---
import { Image } from 'astro:assets';
import { cn } from 'tailwind-variants';

import LinkItem from '@/components/ui/LinkItem.astro';

interface Props {
  name: string;
  description: string;
  href: string;
  icon: ImageMetadata;
  darkIcon?: ImageMetadata;
}

const { name, description, href, icon, darkIcon } = Astro.props;
const isSvg = icon.format === 'svg';

const imgClass = cn(
  `absolute top-0 left-0 size-full transition-all duration-350`,
);
const baseProps = {
  width: 40,
  height: 40,
} as const;

const alt = `${name} logo`;

const lightIconProps = {
  ...baseProps,
  class: cn(
    imgClass,
    darkIcon &&
      `
        opacity-100
        dark:opacity-0
      `,
  ),
};

const darkIconProps = darkIcon && {
  ...baseProps,
  class: cn(
    imgClass,
    `
      opacity-0
      dark:opacity-100
    `,
  ),
};
---

<LinkItem name={name} description={description} href={href}>
  <div slot='icon' class='relative size-10 shrink-0 muted-icon'>
    {
      isSvg ? (
        <img src={icon.src} {...lightIconProps} {alt} />
      ) : (
        <Image src={icon} {...lightIconProps} {alt} />
      )
    }

    {
      darkIcon &&
        (isSvg ? (
          <img src={darkIcon.src} {...darkIconProps} {alt} />
        ) : (
          <Image src={darkIcon} {...darkIconProps} {alt} />
        ))
    }
  </div>
</LinkItem>
