---
import '@/styles/index.css';
import favicon from '@/assets/favicon.svg';
import boldFont from '@/assets/fonts/MapleMonoNL-Bold.woff2';
import regularFont from '@/assets/fonts/MapleMonoNL-Regular.woff2';

import Footer from './Footer.astro';
import Header from './Header.astro';

interface Props {
  title?: string;
}
const { title } = Astro.props;
const baseTitle = 'Hareki';
---

<!doctype html>
<html lang='en' class='size-screen font-display'>
  <head>
    <script is:inline>
      (function () {
        const html = document.documentElement;
        let flavor = localStorage.getItem('ctp-flavor');
        let accent = localStorage.getItem('ctp-accent');
        const mq = matchMedia('(prefers-color-scheme:dark)');

        function setFlavor(f) {
          html.className = html.className.replace(/\bctp-flavor-\S+/g, '');
          html.classList.add('ctp-flavor-' + f);
        }

        if (!flavor) {
          flavor = mq.matches ? 'mocha' : 'latte';
        }
        if (!accent) {
          accent = 'blue';
        }
        html.classList.add('ctp-flavor-' + flavor, 'ctp-accent-' + accent);

        mq.addEventListener('change', function (e) {
          if (!localStorage.getItem('ctp-flavor')) {
            setFlavor(e.matches ? 'mocha' : 'latte');
          }
        });
      })();
    </script>
    <link href={regularFont} rel='preload' type='font/woff2' as='font' crossorigin />
    <link href={boldFont} rel='preload' type='font/woff2' as='font' crossorigin />
    <meta charset='UTF-8' />
    <meta name='viewport' content='width=device-width' />
    <link rel='icon' type='image/svg+xml' href={favicon.src} />
    <meta name='generator' content={Astro.generator} />
    <title>{title ? `${title} | ${baseTitle}` : baseTitle}</title>
  </head>
  <body>
    <div
      class='
        mx-auto flex h-[200vh] min-h-screen max-w-5xl flex-col px-2 pb-4
        text-foreground
        xs:px-4
      '
    >
      <Header />
      <main class='grow px-4 py-6'>
        <slot />
      </main>
      <Footer />
    </div>
  </body>
</html>
