---
import GithubIcon from '@tabler/icons/outline/brand-github.svg';
import LinkedInIcon from '@tabler/icons/outline/brand-linkedin.svg';
import ResumeIcon from '@tabler/icons/outline/file-cv.svg';
import MailIcon from '@tabler/icons/outline/mail.svg';

import favicon from '@/assets/favicon.svg';
import Separator from '@/components/starwind/separator';
import ContactInformation from '@/data/contact-information';

import HeaderButton from './HeaderButton.astro';
import ThemeSwitcher from './ThemeSwitcher.astro';

import type { SvgComponent } from 'astro/types';

type HeaderLinkButton = {
  icon: SvgComponent;
  label: string;
  href: string;
};

const { GITHUB_URL, LINKEDIN_URL, EMAIL_URL, RESUME_URL } = ContactInformation;

const contactLinks: HeaderLinkButton[] = [
  {
    icon: GithubIcon,
    label: 'GitHub',
    href: GITHUB_URL,
  },

  {
    icon: LinkedInIcon,
    label: 'LinkedIn',
    href: LINKEDIN_URL,
  },

  {
    icon: MailIcon,
    label: 'Mail',
    href: EMAIL_URL,
  },
];

const siteControls: HeaderLinkButton[] = [
  {
    icon: ResumeIcon,
    label: 'Resume',
    href: RESUME_URL,
  },
];
---

<div class='sticky top-0 z-10 bg-background pt-4'>
  <header
    class='
      @container flex items-center justify-between rounded-md border
      border-border p-2.5
    '
  >
    <a class='ml-3.5 flex items-center gap-2' href='/'>
      <img
        src={favicon.src}
        fetchpriority='high'
        class='
          pointer-events-none size-7
          @lg:size-8
        '
        alt='Hareki catppuccin logo'
      />

      <span class='
        text-lg font-bold
        @lg:text-xl
      '
        >Hareki</span
      >
    </a>

    <nav class='flex items-center'>
      <div class='flex items-center gap-1'>
        {
          contactLinks.map(({ icon, label, href }) => (
            <HeaderButton
              icon={icon}
              label={label}
              href={href}
              target='_blank'
              rel='noopener noreferrer'
            />
          ))
        }
      </div>

      <Separator class='mx-2 h-6' orientation='vertical' />

      <div class='flex items-center gap-1'>
        {
          siteControls.map(({ icon, label, href }) => (
            <HeaderButton
              icon={icon}
              label={label}
              href={href}
              target='_blank'
              rel='noopener noreferrer'
            />
          ))
        }

        <ThemeSwitcher />
      </div>
    </nav>
  </header>
</div>
