---
import CalendarIcon from '@tabler/icons/outline/calendar.svg';
import InfoIcon from '@tabler/icons/outline/info-circle.svg';

import { PopoverContent } from '@/components/starwind/popover';
import {
  Tooltip,
  TooltipContent,
  TooltipTrigger,
} from '@/components/starwind/tooltip';
import BlockLink from '@/components/ui/BlockLink.astro';
import ItemSummary from '@/components/ui/ItemSummary.astro';
import type { ExperienceRecord } from '@/data/experience';
import { getFormattedDate } from '@/utils/date';

import CompanyLogo from './ExperienceSectionCompanyLogo.astro';

interface Props {
  record: ExperienceRecord;
}

const { record } = Astro.props;

const getDateRange = (startDate: Date, endDate: Date | undefined) => {
  const start = getFormattedDate(startDate);
  const end = endDate ? getFormattedDate(endDate) : 'Present';
  return `${start} - ${end}`;
};
---

<PopoverContent
  aria-label={`${record.company.name} work details`}
  class='max-w-80 gap-4 p-4'
>
  <div class='flex gap-3'>
    <ItemSummary name={record.company.name} description={record.title}>
      <Tooltip slot='extra-info' class='ml-1'>
        <TooltipTrigger>
          <InfoIcon class='size-4 text-info' />
        </TooltipTrigger>
        <TooltipContent>
          {record.company.description}
        </TooltipContent>
      </Tooltip>
      <CompanyLogo record={record} slot='icon' />
    </ItemSummary>
  </div>

  <ul class='list-disc space-y-1 pl-4 text-sm text-subtext1-foreground'>
    {record.responsibilities.map((item) => <li>{item}</li>)}
  </ul>

  <div class='flex items-center gap-1.5 text-xs text-muted-foreground'>
    <CalendarIcon class='size-4' />
    <span>{getDateRange(record.startDate, record.endDate)}</span>
  </div>

  <BlockLink href={record.company.website}>Visit Website</BlockLink>
</PopoverContent>
