---
import { Image } from 'astro:assets';
import { cn } from 'tailwind-variants';

import Button from '@/components/starwind/button/Button.astro';
import NewTabIndicator from '@/components/ui/NewTabIndicator.astro';

interface Props {
  name: string;
  description: string;
  href: string;
  icon: ImageMetadata;
  darkIcon?: ImageMetadata;
}

const { name, description, href, icon, darkIcon } = Astro.props;
const isSvg = icon.format === 'svg';

const imgClass = cn(
  `
    pointer-events-none absolute top-0 left-0 size-full transition-all
    duration-350
  `,
);
const baseProps = {
  width: 40,
  height: 40,
} as const;

const alt = `${name} logo`;

const lightIconProps = {
  ...baseProps,
  class: cn(
    imgClass,
    darkIcon &&
      `
        opacity-100
        dark:opacity-0
      `,
  ),
};

const darkIconProps = darkIcon && {
  ...baseProps,
  class: cn(
    imgClass,
    `
      opacity-0
      dark:opacity-100
    `,
  ),
};
---

<Button
  variant='ghost'
  href={href}
  target='_blank'
  class='group h-auto w-full justify-start gap-3 p-3'
>
  <div
    class='
      relative size-10 shrink-0 opacity-70 grayscale-25 duration-350
      group-hocus:opacity-100 group-hocus:grayscale-0
    '
  >
    {
      isSvg ? (
        <img src={icon.src} {...lightIconProps} {alt} />
      ) : (
        <Image src={icon} {...lightIconProps} {alt} />
      )
    }

    {
      darkIcon &&
        (isSvg ? (
          <img src={darkIcon.src} {...darkIconProps} {alt} />
        ) : (
          <Image src={darkIcon} {...darkIconProps} {alt} />
        ))
    }
  </div>

  <div class='flex flex-col items-start'>
    <span class='text-sm'>{name}</span>
    <span class='text-xs font-normal text-muted-foreground'>{description}</span>
  </div>

  <NewTabIndicator />
</Button>
