---
import {
  Tooltip,
  TooltipContent,
  TooltipTrigger,
} from '@/components/starwind/tooltip';
import { MAIN_MODULES } from '@/data/beyond-work';
import { getLanguageStats, getRecentCommitDetails } from '@/lib/github';
import { parseConventionalCommit } from '@/lib/github/utils';
import { getDateDistance, getFormattedDate } from '@/utils/date';

import Badge from '../Badge.astro';
import StandaloneLink from '../StandaloneLink.astro';
import SubsectionTitle from '../SubsectionTitle.astro';

interface Props {
  repoFullName: string;
  commitLimit: number;
}

Astro.cache.set({
  maxAge: 900,
  swr: 60,
});

const { repoFullName, commitLimit } = Astro.props;
const [commits, languages] = await Promise.all([
  getRecentCommitDetails(repoFullName, commitLimit),
  getLanguageStats(repoFullName),
]);
---

<div class='rounded-md bg-inner-box p-2 text-sm'>
  <SubsectionTitle class='mb-0 px-1.5'> Recent Commits </SubsectionTitle>
  <div class='mb-3 flex flex-col'>
    {
      commits.map((commit) => {
        const parsed = parseConventionalCommit(commit.commitMessage);

        return (
          <a
            href={commit.commitUrl}
            target='_blank'
            rel='noopener noreferrer'
            class='
              group flex w-full bouncy-click items-center justify-between gap-5
              rounded-xs p-1.5 text-subtext0-foreground
              hover:bg-primary/10 hover:text-primary/70
              hocus:scale-[100.5%]
            '
          >
            <div class='flex min-w-0 items-center gap-1'>
              {parsed.prefix ? (
                <div class='truncate'>
                  <span
                    class='
                      font-medium whitespace-nowrap text-foreground
                      group-hover:text-primary
                    '
                  >
                    {parsed.prefix}
                  </span>
                  <span>{parsed.message}</span>
                </div>
              ) : (
                <span class='truncate'>{commit.commitMessage}</span>
              )}
              <span
                class='
                  hidden shrink-0 whitespace-nowrap
                  @xl:block
                '
              >
                <span class='text-success'>+{commit.linesAdded}</span>
                <span class='text-error'>-{commit.linesDeleted}</span>
              </span>
            </div>

            <Tooltip>
              <TooltipTrigger>
                <span
                  class='
                    whitespace-nowrap
                    group-hover:text-primary/70
                  '
                >
                  {getDateDistance(commit.createdAt)}
                </span>
              </TooltipTrigger>

              <TooltipContent class='text-sm font-medium'>
                {getFormattedDate(commit.createdAt)}
              </TooltipContent>
            </Tooltip>
          </a>
        );
      })
    }
  </div>

  <div class='flex flex-wrap justify-between gap-x-5 gap-y-4.5 px-1.5'>
    <div>
      <SubsectionTitle> Languages </SubsectionTitle>
      <div class='flex flex-wrap gap-2'>
        {
          languages.map(({ name, percent, color }) => (
            <Badge color={color} extraInfo={`${percent}%`}>
              {name}
            </Badge>
          ))
        }
      </div>
    </div>

    <div>
      <SubsectionTitle> Main Modules </SubsectionTitle>
      <div class='flex gap-3'>
        {
          MAIN_MODULES.map(({ name, url }) => (
            <StandaloneLink href={url}>{name}</StandaloneLink>
          ))
        }
      </div>
    </div>
  </div>
</div>

<script>
  import { initStarwind } from '@/lib/starwind/event';

  initStarwind();
</script>
